//Estilo para index
@import 'nib'

body
	font-size 16px

.Layout
	border 1px solid black
	border-radius 10px
	display flex
	flex-direction column	
	height 95vh
	background linear-gradient(top, #7abcff 0%,#60abf8 30%,#4096ee 100%)
	box-shadow 0 0 35px rgba(0,0,0,.75)