div(class="Card")
		h2(class="Card-name") Hulk
		img(class="Card-image", src="../lib/img/hulk.png", alt="hulk-image")
		div(class="Card-description") Hulk es muy poderoso
		dev(class="Card-attack") 500 puntos de ataque