div(class="Card")
		h2(class="Card-name") Wolverine
		img(src="hulk.png", alt="wolverine-image", class="Card-image")
		div(class="Card-description") Wolverine es muy poderoso
		dev(class="Card-attack") 500 puntos de ataque